p {
    color: #777777;
    font-size: 15px;
    font-family: "Arial","Helvetica Neue","Helvetica","sans-serif";
    padding: 20px;

}

body {
    background-image: url("../images/brickwallbackground.png");
}

#aboutmemain {
    background-color: #ffffff;
    width: 644px;
    padding: 0px;
    margin-top: 20px;
    border-style: solid;
    border-color: #dddddd;
    overflow: auto;
    float: left;
    margin-left: 121px;
}
#aboutmeheader {
  color: #4aaaa5;
}

#aboutmemainhr {
    color: #dddddd;
    height: 3px;
    background-color: #dddddd;
    border: 0 none;
}

#photospecs {
    width: 300px;
    height: 250px;
    float: left;
    padding: 0 15px 0 8px;
}


#aboutmesidebar {
    width: 221px;
    border-style: solid;
    border-color: #dddddd;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
    padding-left: 26px;
    padding-right: 17px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
.socialmedialogo {
    width: 55px;
    height: 55px;
}


section {
    display: inline-block;
}

}

#connectwithme {
    color: #4aaaa5;
    font-size: 18px;
    margin-left: 0px;
}

#connectwithmehr {
    color: #dddddd;
    height: 2px;
    background-color: #dddddd;
    border: 0 none;
    width: 174px;
    margin-left: -1px;
}

.topdivsection {
    width: 101%;
    border-style: none;
    background-color: white;
    height: 100px;
    margin-top: -9px;
    margin-left: -8px;
    margin-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #dedede;
}

#headerChrisSayles {
    width: 273px;
    border-style: solid;
    border-color: #40aaa5;
    background-color: #40aaa5;
    height: 86px;
    margin-left: 129px;
    position: absolute;
    margin-top: -51px;
}

#chrisSaylesText {
    color: white;
    margin-top: 26px;
    font-size: 30px;
    margin-left: 16px;
}

.aboutPortfolioContactHeaderText {
    height: 14px;
    word-spacing: 20px;
    text-align: right;
    padding-right: 307px;
    padding-top: 44px;
}

#input-element {
  height:200px !important;
  width:650px;
}

#nameEmailInput {
  width:650px;
}

#contactmemain {
    background-color: #ffffff;
    width: 650px;
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: #dddddd;
    overflow: auto;
    float: left;
    margin-left: 120px;
  }

  #contactmeheader {
  color: #4aaaa5;
}

#contactmemainhr {
    color: #dddddd;
    height: 3px;
    background-color: #dddddd;
    border: 0 none;
}

#buttoncolor {
  background-color: #40aaa5;
  color: white;
  border: none;
  height: 30px;
  width: 90px;
}

#footerlineteal {
    background-color: #4aaaa5;
    background-size: 20px;
    height: 10px;
    margin: auto;
    border: 0;
}
.center {
    text-align: center;
    float: none;
}

footer {
    background-color: #666666;
    overflow: auto;
    bottom: 0%;
    width: 100%;
    text-align: center;
    color: white;
    float: left;
    margin-top: 10px;
    position: absolute;
}

.portfolioimage {
    height: 200px;
    width: 200px;
    float: left;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin-bottom: -66px;
    position: relative;
}